*/output/*
*.xdmf
*.h5
*.png
*.pyc
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json

**/*.msh


## Core latex/pdflatex auxiliary files:
**/*.aux
**/*.lof
**/*.log
**/*.bcf
**/*.blg
**/*.fdb*
**/*.loc
**/*.maf
**/*.mtc*
**/*.lot
**/*.soc
**/*.synctex*
**/*.fls
**/*.run*
**/*.xmp*
**/*.out
**/*.toc
**/*.fmt
**/*.fot
**/*.cb
**/*.cb2
**/*.lb

**/*.pdf
**/*.vec*
**/*.info*
**/*.dat*
**/*.npz*
**/*.mat*
**/.DS_Store

build/

# sphinx
docs/build/

# branch-specific tests
test_*/
src/irrevolutions/test/output/*
**/output/**
**egg-info**
.venv/**