*/output/*
*.xdmf
*.h5
*.png
*ipynb
*.pyc
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json

#seb
.DS_Store
*/.DS_Store
**.DS_Store
**.aux
**.log
**.spl
**.bbl  #Latex
**.blg  #Latex
*/src.cls/*
**synctex.gz
