*/output/*
*.xdmf
*.h5
*.png
*ipynb
*.pyc
angleFigs/anglefigs4.0.pgf
angleFigs/anglefigs7.0.pgf
angleFigs/anglefigs10.0.pgf
angleFigs/anglefigs13.0.pgf
angleFigs/anglefigs16.0.pgf
angleFigs/anglefigs19.0.pgf
angleFigs/anglefigs22.0.pgf
angleFigs/anglefigs25.0.pgf
angleFigs/anglefigs28.0.pgf
angleFigs/anglefigs31.0.pgf
angleFigs/anglefigs34.0.pgf
angleFigs/contourplot.pgf
meshes/4_5.unv
meshes/4_8.unv
meshes/4_11.unv
meshes/4_14.unv
meshes/4_17.unv
meshes/4_20.unv
meshes/4_23.unv
meshes/4_26.unv
meshes/4_29.unv
meshes/4_32.unv
meshes/4_35.unv
meshes/4_38.unv
meshes/4_41.unv
meshes/4_44.unv
meshes/4_47.unv
meshes/4_50.unv
meshes/4_53.unv
meshes/4_56.unv
meshes/4_59.unv
meshes/4_62.unv
meshes/4_65.unv
meshes/4_68.unv
meshes/7_5.unv
meshes/7_8.unv
meshes/7_11.unv
meshes/7_14.unv
meshes/7_17.unv
meshes/7_20.unv
meshes/7_23.unv
meshes/7_26.unv
meshes/7_29.unv
meshes/7_32.unv
meshes/7_35.unv
meshes/7_38.unv
meshes/7_41.unv
meshes/7_44.unv
meshes/7_47.unv
meshes/7_50.unv
meshes/7_53.unv
meshes/7_56.unv
meshes/7_59.unv
meshes/7_62.unv
meshes/7_65.unv
meshes/7_68.unv
meshes/10_5.unv
meshes/10_8.unv
meshes/10_11.unv
meshes/10_14.unv
meshes/10_17.unv
meshes/10_23.unv
meshes/10_26.unv
meshes/10_29.unv
meshes/10_32.unv
meshes/10_35.unv
meshes/10_38.unv
meshes/10_41.unv
meshes/10_44.unv
meshes/10_47.unv
meshes/10_50.unv
meshes/10_53.unv
meshes/10_56.unv
meshes/10_59.unv
meshes/10_62.unv
meshes/10_65.unv
meshes/10_68.unv
meshes/13_5.unv
meshes/13_8.unv
meshes/13_11.unv
meshes/13_14.unv
meshes/13_17.unv
meshes/13_20.unv
meshes/13_23.unv
meshes/13_26.unv
meshes/13_29.unv
meshes/13_32.unv
meshes/13_35.unv
meshes/13_38.unv
meshes/13_41.unv
meshes/13_44.unv
meshes/13_47.unv
meshes/13_50.unv
meshes/13_53.unv
meshes/13_56.unv
meshes/13_59.unv
meshes/13_62.unv
meshes/13_65.unv
meshes/13_68.unv
meshes/16_5.unv
meshes/16_8.unv
meshes/16_11.unv
meshes/16_14.unv
meshes/16_17.unv
meshes/16_20.unv
meshes/16_23.unv
meshes/16_26.unv
meshes/16_29.unv
meshes/16_32.unv
meshes/16_35.unv
meshes/16_38.unv
meshes/16_41.unv
meshes/16_44.unv
meshes/16_47.unv
meshes/16_50.unv
meshes/16_53.unv
meshes/16_56.unv
meshes/16_59.unv
meshes/16_62.unv
meshes/16_65.unv
meshes/16_68.unv
meshes/19_5.unv
meshes/19_8.unv
meshes/19_11.unv
meshes/19_14.unv
meshes/19_17.unv
meshes/19_20.unv
meshes/19_23.unv
meshes/19_26.unv
meshes/19_29.unv
meshes/19_32.unv
meshes/19_35.unv
meshes/19_38.unv
meshes/19_41.unv
meshes/19_44.unv
meshes/19_47.unv
meshes/19_50.unv
meshes/19_53.unv
meshes/19_56.unv
meshes/19_59.unv
meshes/19_62.unv
meshes/19_65.unv
meshes/19_68.unv
meshes/22_5.unv
meshes/22_8.unv
meshes/22_11.unv
meshes/22_14.unv
meshes/22_17.unv
meshes/22_20.unv
meshes/22_23.unv
meshes/22_26.unv
meshes/22_29.unv
meshes/22_32.unv
meshes/22_35.unv
meshes/22_38.unv
meshes/22_41.unv
meshes/22_44.unv
meshes/22_47.unv
meshes/22_50.unv
meshes/22_53.unv
meshes/22_56.unv
meshes/22_59.unv
meshes/22_62.unv
meshes/22_65.unv
meshes/22_68.unv
meshes/25_5.unv
meshes/25_8.unv
meshes/25_11.unv
meshes/25_14.unv
meshes/25_17.unv
meshes/25_20.unv
meshes/25_23.unv
meshes/25_26.unv
meshes/25_29.unv
meshes/25_32.unv
meshes/25_35.unv
meshes/25_38.unv
meshes/25_41.unv
meshes/25_44.unv
meshes/25_47.unv
meshes/25_50.unv
meshes/25_53.unv
meshes/25_56.unv
meshes/25_59.unv
meshes/25_62.unv
meshes/25_65.unv
meshes/25_68.unv
meshes/28_5.unv
meshes/28_8.unv
meshes/28_11.unv
meshes/28_14.unv
meshes/28_17.unv
meshes/28_20.unv
meshes/28_23.unv
meshes/28_26.unv
meshes/28_29.unv
meshes/28_32.unv
meshes/28_35.unv
meshes/28_38.unv
meshes/28_41.unv
meshes/28_44.unv
meshes/28_47.unv
meshes/28_50.unv
meshes/28_53.unv
meshes/28_56.unv
meshes/28_59.unv
meshes/28_62.unv
meshes/28_65.unv
meshes/28_68.unv
meshes/31_5.unv
meshes/31_8.unv
meshes/31_11.unv
meshes/31_14.unv
meshes/31_17.unv
meshes/31_20.unv
meshes/31_23.unv
meshes/31_26.unv
meshes/31_29.unv
meshes/31_32.unv
meshes/31_35.unv
meshes/31_38.unv
meshes/31_41.unv
meshes/31_44.unv
meshes/31_47.unv
meshes/31_50.unv
meshes/31_53.unv
meshes/31_56.unv
meshes/31_59.unv
meshes/31_62.unv
meshes/31_65.unv
meshes/31_68.unv
meshes/34_5.unv
meshes/34_8.unv
meshes/34_11.unv
meshes/34_14.unv
meshes/34_17.unv
meshes/34_20.unv
meshes/34_23.unv
meshes/34_26.unv
meshes/34_29.unv
meshes/34_32.unv
meshes/34_35.unv
meshes/34_38.unv
meshes/34_41.unv
meshes/34_44.unv
meshes/34_47.unv
meshes/34_50.unv
meshes/34_53.unv
meshes/34_56.unv
meshes/34_59.unv
meshes/34_62.unv
meshes/34_65.unv
meshes/34_68.unv
