[project]
name = "irrevolutions"
authors = [
    {name = "Andrés A León Baldelli", email = "leon.baldelli@cnrs.fr"},
    ]
version = "0.1.0"
requires-python = ">=3.8"

# Short description
description = "Three solvers for irreversible evolutionary processes with a general energetic notion of stability."

# Path to README.md
readme = "README.md"

# Path to license file
license = {file = "LICENSE"}

# Direct dependencies
dependencies = [
    "fenics-dolfinx==0.7.*",
    "pandas>=2.2",
    "sympy",
    "pytest",
    "matplotlib",
    "gmsh>=4.11.0",
    "PyYAML>=6.0.1",
    "scipy>=1.12.0",
    "pyvista>=0.43",
    "numba>=0.60.0",
]

[project.optional-dependencies]
test = ["pytest"]

[tool.ruff.lint.isort.sections]
"mpi" = ["mpi4py", "petsc4py"]