name: Run Tests in Dolfinx Container
run-name: We are testing irrevolutions

on:
    push:
        branches:
            - '**'

jobs:
    set-up-computing-environment:
        runs-on: ubuntu-latest
        container: ghcr.io/fenics/dolfinx/lab:nightly

        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Install dependencies
              run: python3 -m pip install .

            - name: Test import
              run: python3 -c "import irrevolutions"

            - name: Run 1d test
              run: pytest -v test/test_1d.py

            - name: Run tests
              run: cd test && pytest -v .
